<h3>お気に入り一覧</h3>
<table>
  <thead>
      <tr>
        <th>名前</th>
        <th>写真</th>
        <th>投稿</th>
      </tr>
  </thead>
  <tbody>
    <% @user.favorite.each do |favorite| %>
      <tr>
        <td><%= favorite.blog_id %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '投稿一覧画面に戻る', blogs_path %>